html {
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}
*, ::before, ::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

.header-container {
    background-color: #1f2937;
    width: 100%;
    height: 550px;
    display: flex;
    flex-direction: column;
    gap: 5rem;
}
.main-header {
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: center;
    margin: 0 auto;
    height: 60px;
    margin-top: 1.75rem;
}
.main-header-logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
}
.main-header-links {
    display: flex;
    color: #e5e7eb;
    font-size: 18px;
    gap: 2rem;
}

.header-content {
    display: flex;
    justify-content: space-between;
    gap:4rem;
    width: 80%;
    height: 300px;
    align-items: center;
    margin: 0 auto;
}
.header-content-item1, .header-image-placeholder {
    width: 50%;
}
.header-content-item1 h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
}
.header-content-item1 p {
    color: #e5e7eb;
    font-size: 18px;
}
.button {
    background-color: #3882f6;
    color:#e5e7eb;
    font-size: 18px;
    font-weight: bolder;
    width: 8rem;
    height: 2.5rem;
    border-radius: 10px;
}
.header-content-item1 .button {
    border: 0;
    margin-top: 1.5rem;
}
.header-image-placeholder {
    background-color: #3e4f5f;
    color: #e5e7eb;
    font-size: 18px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.information-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.information-header h1{
    color: #1f2937;
    font-size: 36px;
    font-weight: bolder;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}
.information-img-placeholder, .information-subtext {
    display: flex;
    gap: 3rem;
}
.info-img{
    border: 4px solid #3882f6;
    width: 170px;
    height: 170px;
    border-radius: 10px;
}
.info-subtext {
    width: 170px;
    height: 170px;
    text-align: center;
    margin-top: 0.5rem;
}
.quotation-container {
    background-color: #e5e7eb;
    width: 100%;
    height: 470px;
    display: flex;
    justify-content: center;
    align-items: center;
}
figure {
    width: 60%;
}
blockquote p{
    font-size: 36px;
    font-style:italic;
    font-weight:lighter;
    color: #1f2937;
}
figcaption {
    font-size: 24px;
    font-weight: bold;
    text-align: right;
}
.action-container {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.action-call {
    background-color: #3882f6;
    color:#e5e7eb;
    width: 80%;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}
.action-content {
    margin-left: 6rem;
}
.action-button {
    margin-right: 6rem;
}
.action-button .button {
    border: 2px solid white;
}
.footer-container {
    background-color: #1f2937;
    color: #f9faf8;
    font-size: 18px;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}